<a href="https://colab.research.google.com/github/wrn6494/Portfolio/blob/main/Case_Study_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# APPEND MULTIPLE CSV FILES INTO 1 DATAFRAME

In [1]:
import os
import glob
import pandas as pd
#list all csv files only
csv_files = glob.glob('*.{}'.format('csv'))
csv_files

['202208-divvy-tripdata.csv',
 '202110-divvy-tripdata.csv',
 '202112-divvy-tripdata.csv',
 '202205-divvy-tripdata.csv',
 '202207-divvy-tripdata.csv',
 '202111-divvy-tripdata.csv',
 '202109-divvy-tripdata.csv',
 '202201-divvy-tripdata.csv',
 '202203-divvy-tripdata.csv',
 '202206-divvy-tripdata.csv',
 '202204-divvy-tripdata.csv',
 '202202-divvy-tripdata.csv']

In [2]:
df_append = pd.DataFrame()
#append all files together
for file in csv_files:
            df_temp = pd.read_csv(file)
            df_append = df_append.append(df_temp, ignore_index=True)
df_append

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,550CF7EFEAE0C618,electric_bike,2022-08-07 21:34:15,2022-08-07 21:41:46,NaN,NaN,NaN,NaN,41.930000,-87.69000,41.940000,-87.720000,casual
1,DAD198F405F9C5F5,electric_bike,2022-08-08 14:39:21,2022-08-08 14:53:23,NaN,NaN,NaN,NaN,41.890000,-87.64000,41.920000,-87.640000,casual
2,E6F2BC47B65CB7FD,electric_bike,2022-08-08 15:29:50,2022-08-08 15:40:34,NaN,NaN,NaN,NaN,41.970000,-87.69000,41.970000,-87.660000,casual
3,F597830181C2E13C,electric_bike,2022-08-08 02:43:50,2022-08-08 02:58:53,NaN,NaN,NaN,NaN,41.940000,-87.65000,41.970000,-87.690000,casual
4,0CE689BB4E313E8D,electric_bike,2022-08-07 20:24:06,2022-08-07 20:29:58,NaN,NaN,NaN,NaN,41.850000,-87.65000,41.840000,-87.660000,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2044557,211BE0DC162D85B7,electric_bike,2022-02-23 17:47:49,2022-02-23 18:02:29,NaN,NaN,Leavitt St & Chicago Ave,18058,41.880000,-87.63000,41.895501,-87.682017,member
2044558,D4D53E78000C8CA1,electric_bike,2022-02-04 10:43:47,2022-02-04 10:50:52,NaN,NaN,Leavitt St & Chicago Ave,18058,41.910000,-87.68000,41.895501,-87.682017,member
2044559,9E85F07D2F94492B,electric_bike,2022-02-28 09:16:33,2022-02-28 09:28:11,Wood St & Chicago Ave,637,Canal St & Adams St,13011,41.895714,-87.67221,41.879255,-87.639904,member
2044560,B61B559F81F1D823,electric_bike,2022-02-10 16:55:16,2022-02-10 16:57:53,NaN,NaN,Canal St & Adams St,13011,41.880000,-87.63000,41.879255,-87.639904,member
2044561,841C701610CF0609,electric_bike,2022-02-21 16:35:20,2022-02-21 16:42:53,NaN,NaN,Larrabee St & Oak St,KA1504000116,41.880000,-87.65000,41.900219,-87.642985,member

Warning: total number of rows (2044562) exceeds max_rows (20000). Limiting to first (20000) rows.

In [14]:
df_append.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2044562 entries, 0 to 2044561
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 202.8+ MB

In [3]:
df_append.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 2
ended_at                   2
start_station_name    178822
start_station_id      178821
end_station_name      175394
end_station_id        175399
start_lat                  7
start_lng                  8
end_lat                 1062
end_lng                 1062
member_casual             10
dtype: int64

Check percentage of Null data

In [5]:
178822/2044561

0.08746229630712901

Check if ride_id is unique to each ride or to each user

In [12]:
df_append[df_append['ride_id'].duplicated()=='True'].sum()

ride_id               0.0
rideable_type         0.0
started_at            0.0
ended_at              0.0
start_station_name    0.0
start_station_id      0.0
end_station_name      0.0
end_station_id        0.0
start_lat             0.0
start_lng             0.0
end_lat               0.0
end_lng               0.0
member_casual         0.0
dtype: float64

Add a column length ride

In [13]:
length_ride=df_append['started_at']-df_append['ended_at']
df_append['length_ride']=length_ride
df_append['length_ride']

TypeError: ignored